.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id": "1359"} サッカー
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member Taro
        %li.main-header__left-box__member-list__member Syogo
      = link_to '/groups/1/edit' do
        .main-header__edit-btn Edit
  .messages
    .message{"data-message_id": "id"}
      .message__upper-info   
        %p.message__upper-info__talker Taro
        %p.message__upper-info__date 2019/09/15(Sun) 16:17:38
      %p.message__text おはよう
    .message{"data-message_id": "id"}
      .message__upper-info   
        %p.message__upper-info__talker Syogo
        %p.message__upper-info__date 2019/09/15(Sun) 16:17:38
      %p.message__text こんにちは
  .form
    %form#new_message.new_message{"accept-charset": "UTF-8", action: "/groups/1/messages", enctype: "multipart/form-data", method: "post"}
      .form-box
        %input.form-box__text{placeholder: "type a message",type: "text"}
          %label.form-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.form-box__image__file{name: "image", type: "file"}/
      = link_to '/groups/1/messages' do
        .submit-btn Send
  